{% {% load staticfiles %} %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b61966f392.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <header>
        <div class="navigation">
            <div class="instalogo">
                <a class='' href='/'><i class="fa-brands fa-instagram"></i></a>
                <a class='v1' href='/'></a>
                <a href='/'>Instagram</a>
            </div>
            <div class="search_bar">
                <input type='text' placeholder='search'>
                <a class='search' href=''><i class="fa-regular fa-magnifying-glass"></i></a>
            </div>
            <div class="contacts_icons">
                <a class="explore" href='/'><i class="fa-regular fa-circle-plus"></i></a>
                <a class="likes" href='/'><i class="fa-regular fa-heart"></i></a>
                <a class="profile" href='/'><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </header>
    <div class="content_container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>